.trigger {
  anchor-name: var(--popover-id);
}

.content {
  position: absolute;
  position-anchor: var(--popover-id);
  inset: unset;
  top: calc(anchor(bottom) + var(--spacing));
  scale: 0;
  opacity: 0;
  color: inherit;
  transform-origin: top;
  transition-behavior: allow-discrete;

  [data-popover-position="center"] & {
    left: anchor(50%);
    translate: -50% 0;
  }

  [data-popover-position="left"] & {
    left: anchor(left);
  }

  [data-popover-position="right"] & {
    right: anchor(right);
  }
}

.content:popover-open {
  scale: 1;
  opacity: 1;
}

@starting-style {
  .content:popover-open {
    opacity: 0;
    scale: 0;
  }
}
