DOMAIN=itrabota.lleballex.ru

POSTGRES_DB=itrabota
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=2d

CORS_ORIGINS=http://itrabota.lleballex.ru
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
COOKIE_DOMAIN=

MAX_REQUEST_BODY_SIZE=10mb

INTERNAL_API_URL=http://backend:8000/api
NEXT_PUBLIC_API_URL=http://itrabota.lleballex.ru/api
NEXT_PUBLIC_ATTACHMENT_HOST=itrabota.lleballex.ru
NEXT_PUBLIC_ATTACHMENT_URL=http://itrabota.lleballex.ru/api/attachments/:id/content

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_HOST_USER_ID=
