PORT=8000

DB_NAME=itrabota
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=

CORS_ORIGINS=http://localhost:3000

JWT_SECRET=secret
JWT_EXPIRES_IN=2d
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
COOKIE_DOMAIN=

MAX_REQUEST_BODY_SIZE=10mb

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
